<div class="hero-right-scmm">
    <div class="hero-service-cards wow fadeInRight" data-wow-duration="2s">
        <div class="owl-carousel service-card-prb">
            <div class="service-slide card-bg-a" data-tilt data-tilt-max="5" data-tilt-speed="1000">
                <a href="#">
                    <div class="service-card-hh">
                        <div class="image-sr-mm">
                            <img alt="custom-sport" src="/assets/site/images/service/vr.png">
                        </div>
                        <div class="title-serv-c"><span>VR</span> Solution</div>
                    </div>
                </a>
            </div>
            <div class="service-slide card-bg-b" data-tilt data-tilt-max="5" data-tilt-speed="1000">
                <a href="#">
                    <div class="service-card-hh">
                        <div class="image-sr-mm">
                            <img alt="custom-sport" src="/assets/site/images/service/app-develop.png">
                        </div>
                        <div class="title-serv-c"><span>Custom</span> App Solution</div>
                    </div>
                </a>
            </div>
            <div class="service-slide card-bg-c" data-tilt data-tilt-max="5" data-tilt-speed="1000">
                <a href="#">
                    <div class="service-card-hh">
                        <div class="image-sr-mm">
                            <img alt="custom-sport" src="/assets/site/images/service/startup.png">
                        </div>
                        <div class="title-serv-c"><span>Startup</span> Solution</div>
                    </div>
                </a>
            </div>
            <div class="service-slide card-bg-d" data-tilt data-tilt-max="5" data-tilt-speed="1000">
                <a href="#">
                    <div class="service-card-hh">
                        <div class="image-sr-mm">
                            <img alt="custom-sport" src="/assets/site/images/service/car-rental.png">
                        </div>
                        <div class="title-serv-c"><span>Car</span> Rental Solution</div>
                    </div>
                </a>
            </div>
            <div class="service-slide card-bg-e" data-tilt data-tilt-max="5" data-tilt-speed="1000">
                <a href="#">
                    <div class="service-card-hh">
                        <div class="image-sr-mm">
                            <img alt="custom-sport" src="/assets/site/images/service/marketing.png">
                        </div>
                        <div class="title-serv-c"><span>Marketing</span> Solution</div>
                    </div>
                </a>
            </div>
            <div class="service-slide card-bg-f" data-tilt data-tilt-max="5" data-tilt-speed="1000">
                <a href="#">
                    <div class="service-card-hh">
                        <div class="image-sr-mm">
                            <img alt="custom-sport" src="/assets/site/images/service/ewallet.png">
                        </div>
                        <div class="title-serv-c"><span>e-Wallet</span> Solution</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>