<section class="breadcrumb-area banner-3">
    <div class="text-block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 v-center">
                    <div class="bread-inner">
                        <div class="bread-menu">
                            <ul>
                                <li><a href="/">Anasayfa</a></li>
                                <li><a href="/{{ page.title }}">{{ page.title }}</a></li>
                            </ul>
                        </div>
                        <div class="bread-title">
                            <h2>{{ page.title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>