<head>
    <meta charset="utf-8"/>
    <title>{{ page.title }}</title>
    <meta name="description" content="Creative Agency, Marketing Agency Template">
    <meta name="keywords" content="{{ page.keywords }}" />
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="page.author">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#2e2a8f">
    <!--website-favicon-->
    <link href="/assets/site/images/favicon.png" rel="icon">
    <!--plugin-css-->
    <link href="/assets/site/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/site/css/plugin.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2//assets/site/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- template-style-->
    <link href="/assets/site/css/style.css" rel="stylesheet">
    <link href="/assets/site/css/responsive.css" rel="stylesheet">
</head>
